Package: krigsavers
Version: 0.1.0
Architecture: i386
Maintainer: Kristoffer Grönlund <kristoffer.gronlund@purplescout.se>
Installed-Size: 148
Depends: libatk1.0-0 (>= 1.20.0), libc6 (>= 2.4), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.4.0), libfreetype6 (>= 2.3.5), libglib2.0-0 (>= 2.16.0), libgtk2.0-0 (>= 2.14.1), libpango1.0-0 (>= 1.21.6), zlib1g (>= 1:1.1.4)
Section: gnome
Priority: extra
Description: Collection of screensavers for GNOME
 A simple collection of screensavers for GNOME, with the goal of
 providing some more style to the GNU/Linux desktop. Most of the
 screensavers are clocks in some form or another.
